@use './variables';

main{
    padding-top: 80px;
    font-size: variables.$fontSize;

    h1{
        display: flex;
        align-items: center;
    }

    h2{
    font-size: variables.$fontSize*1.5;
    position: sticky;
    justify-content: center;
    top: 80px;
    width: 100%;
    height: 100;
    z-index: 9;
    background-color: variables.$colorCyan;
    }

    .gallery{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        img{
            width: 100%;
            height: auto;
        }
    }

    .fruit-hover{
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        h2, p{
            grid-column: 1 / -1; 
            margin: 0 0 0.5rem 0;
        }

        p{
            padding: 0.5rem 0 0.5rem 0;
        }

        figure{
            display: flex;
            flex-direction: column;
            margin: 0;

        img{
            height: auto;
            width: 100%;
            display: block;
        }
        figcaption {
            opacity: 0;
            max-height: 0;
            overflow: hidden;
            transition: opacity 0.3s ease, max-height 0.3s ease;
            background-color: red;
            color: white;
            position: absolute;
        }

        &:hover figcaption {
           max-height: 100px;
           opacity: 1;
        }
       }
    }

    .back-to-top-btn{
        display: flex;
        justify-content: end;
        position: sticky;
        bottom: 1rem;
        
        a{
            background-color: black;
            color: white;
            font-size: 1.5rem;
        }
    }
    
    @media (max-width: 400px) {
    font-size: variables.$fontSize * 0.9;
    padding-top: 45px;

    h1{
        font-size: variables.$fontSize * 1.3;
        display: flex;
        align-items: center;
    }

    h2 {
      font-size: variables.$fontSize * 1.2;
      top: 80px;
      height: auto; 
    }

    .gallery {
      grid-template-columns: repeat(1, 1fr);
    }

    .fruit-hover {
      grid-template-columns: repeat(1, 1fr);

      h2,
      p {
        grid-column: 1 / -1;
      }
    }
    .back-to-top-btn{
    display: flex;
    justify-content: start;
    position: sticky;
    bottom: 0.9rem;
    
    a{
        background-color: black;
        color: white;
        font-size: variables.$fontSize*0.6;
    }

    }
}
}

